*{
 margin: 0;
 padding: 0;
}
.header{
    height: 100px;
    width: 100%;
    background-color: rgb(12, 26, 102);
    display: flex;
}
.header .logo img{
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 25px;
}
.header .nav ul{
    display: inline-flex;
    margin-left: 350px;
    margin-top: -1px;
}
.header .nav ul li{
    list-style-type:none;
    margin: 12px;
    padding: 5px;
    margin-top: 28px;
}
.header .nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 8010;
    color: rgb(255, 255, 255);
}
.header .nav ul li:hover{
    background-color: rgb(87, 216, 104);
    transition: all 0.3s linear;
    border-radius: 50px;
}
.header .nav ul li a :hover{
    color: blue;
}
.header{
    position: fixed;
    top: 0;
}
